<%= form_for(@expert) do |f| %>
  <% if @expert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expert.errors.count, "error") %> prohibited this expert from being saved:</h2>

      <ul>
      <% @expert.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :handle %><br>
    <%= f.text_field :handle %>
  </div>
  <div class="field">
    <%= f.label :tweet_category_id %><br>
    <%= f.number_field :tweet_category_id %>
  </div>
  <div class="field">
    <%= f.label :sequence_id %><br>
    <%= f.number_field :sequence_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :is_active %><br>
    <%= f.number_field :is_active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
